.main {
  background-color: hsl(var(--background-2));

  .newsletter {
    padding: 1.5rem;
    padding-top: 5rem;
  }

  .box {
    background-color: #fff;
    background-image: url(/newsletter-strip.png);
    background-repeat: repeat-x;
    background-size: 96px 16px;
    border-radius: 1.5em;
  }

  .section {
    padding-bottom: 9rem;
    padding-top: 9rem;
  }

  .heading {
    padding-left: 3rem;
    padding-right: 3rem;

    > .column > .icon {
      height: 1.125em;
      width: 1.125em;
      margin-right: 1rem;
    }

    .title {
      font-weight: 400;
      display: inline;

      strong {
        color: inherit;
        font-weight: 600;
      }

      small {
        color: #7a7a7a;
        display: block;
        font-size: 0.75em;
      }
    }
  }

  .footer {
    padding: 3rem 1.5rem 6rem;

    .links {
      padding-bottom: 6rem;

      .link {
        margin-top: 0.5rem;
        a {
          color: #4a4a4a;
        }
      }

      .linkTitle {
        font-size: 1.25rem;
        font-weight: 600;
        a {
          color: #363636;
        }
      }
    }

    .footerTitle {
      color: #7a7a7a;
      font-size: 1.25rem;
      line-height: 1.25;
      margin-bottom: 0.5rem;
      transition-duration: 86ms;
      transition-property: color;

      strong {
        color: #363636;
        font-weight: 600;
      }
    }

    .tsp {
      color: #b5b5b5;
      margin-top: 1.5rem;
    }

    .subtitle {
      a {
        align-items: center;
        display: flex;
        justify-content: space-between;
      }

      a:not(:hover) em {
        color: #b5b5b5;
      }

      a em {
        display: block;
        font-size: 0.875rem;
        font-style: normal;
      }
    }
  }

  @media screen and (min-width: 1216px) {
    .newsletter {
      padding: 5.625rem;
    }
    .drawing {
      display: block;
    }
    .heading {
      grid-template-columns: 4.5rem 4.5rem 1fr 1fr 4.5rem 4.5rem;
    }
    .box {
      box-shadow: 0 1em 2em rgba(0, 0, 0, 0.05);
    }
  }
}
