@import "~bulma";
@import "global-variables.scss";
@import "global-custom-bulma.scss";

@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Quicksand", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: hsl(var(--bc));
  @extend .bg-base-100;
  min-height: 1000px;
}

a {
  color: inherit;
  text-decoration: none;
}

.bg-base-100 {
  background-color: hsl(var(--background-1));
}

.bg-base-200 {
  background-color: hsl(var(--background-2));
}

.color-primary {
  color: hsl(var(--p));
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
}

.ribbon {
  position: absolute;
  bottom: -10%;
  fill: hsl(var(--s));
}
.w-100 {
  width: 100%;
}
.h-auto {
  height: auto;
}
svg {
  display: block;
}
