.pagination-previous,
.pagination-next,
.pagination-link,
.pagination-ellipsis,
.file-cta,
.file-name,
.select select,
.textarea,
.input,
.button {
  // border-radius: var(--rounded-btn, 0.5rem);
}

.button {
  background-color: hsl(var(--n));
  color: hsl(var(--nc));
  border-color: hsl(var(--n));
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1em;
  font-weight: 600;
  text-decoration-line: none;

  &.is-hovered,
  &:hover {
    border-color: hsl(var(--n));
    color: hsl(var(--nc));
  }

  &.is-primary {
    border-color: hsl(var(--p));
    background-color: hsl(var(--p));
    color: hsl(var(--pc));

    &.is-hovered,
    &:hover {
      border-color: hsl(var(--pf, var(--p)));
      background-color: hsl(var(--pf, var(--p)));
      color: hsl(var(--pc));
    }
  }
}

.navbar-item,
.navbar-link {
  color: currentColor;
  // padding: 0 0.75rem;
  // margin: 0.5rem 0;
  // border-radius: var(--rounded-btn, 0.5rem);
}

a.navbar-item,
.navbar-link {
  &:focus,
  &:focus-within,
  &:hover {
    color: currentColor;
    background-color: hsl(var(--bc) / var(--tw-bg-opacity));
    --tw-bg-opacity: 0.1;
  }

  &.is-active {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--p) / var(--tw-bg-opacity)) !important;
    --tw-text-opacity: 1;
    color: hsl(var(--pc) / var(--tw-text-opacity));
  }
}

.select select:focus,
.textarea:focus,
.input:focus,
.select select.is-focused,
.is-focused.textarea,
.is-focused.input,
.select select:active,
.textarea:active,
.input:active,
.select select.is-active,
.is-active.textarea,
.is-active.input {
  border-color: hsl(var(--p));
  box-shadow: 0 0 0 0.125em hsl(var(--p) / 0.5);
}

.has-text-primary {
  color: hsl(var(--p)) !important;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: hsl(var(--p));
}

.pagination-link.is-current {
  border-color: hsl(var(--p));
  background-color: hsl(var(--p));
  color: hsl(var(--pc));
}

.breadcrumb a {
  color: inherit;
}
